<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="ApplicationAppender" type="log4net.Appender.RollingFileAppender">
      <file value="TradeHelper.log" />
      <appendToFile value="true" />
      <maximumFileSize value="5MB" />
      <maxSizeRollBackups value="20" />
      <CountDirection value="1" />
      <rollingStyle value="Size" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%level %date{G} %message" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ApplicationAppender" />
    </root>
    <logger name="ApplicationLogger">
      <level value="DEBUG" />
    </logger>
  </log4net>

  <appSettings>
    <!--Сюда телеграм токен бота, созданного через BotFather / here must be token from BotFather bot-->
    <add key="telegramToken" value="" />
    <!--Путь до файла с логом (папка игры/logs) / Path to log file, usually occurs in pathofexile folder/logs-->
    <add key="pathToLogFile" value="X:\Program Files (x86)\Steam\steamapps\common\Path of Exile\logs\Client.txt" />
    <!--Язык приложения, необходимо указать язык клиента игры / Language for interface of app. Set it like client game language-->
    <add key="language" value="en"/>
    <!--Айди и юзернейм без @ пользователя, чтобы не прописывать /start в боте каждый раз, выясняется командой /getid боту или через бота https://t.me/username_to_id_bot
					/ Your telegram username and chat id without @ to avoid always type /start , you can get it with /getid command to bot or with another bot https://t.me/username_to_id_bot-->
    <add key="userId" value=""/>
    <add key="userName" value=""/>
    <!--Если надо ВСЕ личные сообщения, а не только трейд, то true / check true for ALL pm messages, not only trade-->
    <add key="allMessages" value="false"/>
    <!--Время обновления программой файла с логом, меньше - быстрее придёт сообщение в телегу, в мс / logfile update time, less - faster message in telegram, in ms-->
    <add key="updateTime" value="1000"/>
    <!--Выставить true если возникает ошибка доступа к файлу логов / Set true if you get logfile access error-->
    <add key="useTempFile" value="false"/>

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>